 <!-- footer section -->
 <footer id="footer" class="py-5 bg-dark">
    <div class="container">
        <!--footer title -->
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 text-light text-uppercase mb-0">
                    <strong>footer</strong>
                </h1>
                <div class="title-underline bg-warning"></div>
                <p class="mt-2 text-capitalize text-light">
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <!-- end of footer title -->

        <div class="row">
            <div class="col text-center">
                <a href="#" class="btn">
                    <i class="fab fa-facebook fa-3x text-primary m-2"></i>
                </a>

                <a href="#" class="btn">
                    <i class="fab fa-twitter fa-3x text-primary m-2"></i>
                </a>


                <a href="#" class="btn">
                    <i class="fab fa-instagram fa-3x text-primary m-2"></i>
                </a>


                <a href="#" class="btn">
                    <i class="fab fa-google-plus fa-3x text-primary m-2"></i>
                </a>

                <button type="button" class="btn btn-danger d-block mx-auto my-3" data-toggle="modal"
                    data-target="#modal">Logout</button>
            </div>
        </div>
    </div>
</footer>